<div class="page-header">
    <img class="d-block w-100" height="300px" src="assets/images/title_background.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption page-title text-left">
            <h2>Solar Rooftop solutions</h2>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="w-100 text-center">
            <h3 class="featurette-heading"></h3>
        </div>
        <div class="col-md-6 order-md-1">
            <p class="lead">
            As we already know, Solar Energy is one of the most reliable sources of renewable energy 
            available to us today. The world is currently racing to make this technology widespread, 
            especially with the ever looming threat of global warming. Renewable energy, which has 
            minimal to none carbon footprint, is essential to make our world and our environment a 
            better and healthier place to be in. Solar panels generate electricity using the radiation 
            emitted by the sun. When such solar panels are fitted onto the top of a building, they are 
            known as <b> Rooftop Photovoltaic System Power Stations</b>. Such systems are especially helpful 
            for mid to large scale residential and commercial buildings.
            </p>           
        </div>
        <div class="col-md-6 order-md-2">
            <img width="100%" height="350px" src="assets/images/rooftop.jpg" alt="First slide">
        </div>
    </div>
    <div class="row lead">
        If you are considering renewable energy to cut down electricity bills or to do your bit for the environment, a rooftop solar solution is the answer to your needs. If your existing business premise has ample space to install rooftop solar, we offer you customized solar power solutions as per your needs to help you realise your business goals

Installing a rooftop solar power plant will substantially bring down your energy costs since solar tariffs are lower than prevailing grid tariffs. Moreover, it helps you to monetize your existing area, like rooftops or parking area, by enhancing its value. So, are you ready to make the switch?
<br/>We offer you complete solar solutions, right from designing and installation to maintenance, leaving you free to focus on your core business. All that is required is access to your unused roofs, and we’ll do the rest.
<br/><br/>
    <div>
        <b>Benefits of Rooftop Solar</b>
        <ul>
            <li>Reduces Electricity Bills</li>
            <li>Contribute to the “Green Economy”</li>
            <li>Low Maintenance Costs</li>  
            <li>Renewable Energy Source</li>
            <li>Can be installed quickly</li>
            <li>Solar panels have zero emissions</li>
        </ul>
    </div>
</div>


</div>