<div class="page-header">
    <img class="d-block w-100" height="300px" src="assets/images/title_background.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption page-title text-left">
            <h2>Solar CCTV Camera</h2>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="w-100 text-center">
            <h3 class="featurette-heading underline"></h3>
        </div>
        <div class="col-md-6 order-md-1">
            <p class="lead">
                Everyone needs security for their home, garden, farms, rural houses. It is never a new thing 
                to set up a security camera for that purpose. CCTV is a visual surveillance technology designed 
                for monitoring a variety of environments and activities all at the same time. Your security needs 
                shouldn't compromise in front of geographically challenging environments. And that's where the 
                solar security cameras come in. A solar-powered security camera can be used to monitor the 
                off-grid places or remote areas where running cables would be impossible or overly expensive, 
                such as construction sites, barns, farms, rural houses, etc
            </p>
         </div>
        <div class="col-md-6 order-md-2">
            <img width="100%" height="330px" src="assets/images/solar_cctv.jpg" alt="First slide">
        </div>
    </div>
    <div class="row lead">
        <br />
        <div>
            <b>Benefits of Solar CCTV Cameras</b>
            <ul>
                <li>Can be use in Remote areas</li>
                <li>No worries of power cut</li>
                <li>Renewable Energy Source</li>
                <li>Low operating and maintenance cost</li>
                <li>Contribute to the “Green Economy”</li>
                <li>Reduces Electricity Bills</li>
                <li>Can be installed quickly</li>                
            </ul>
        </div>
    </div>
</div>