<div class="page-header">
    <img class="d-block w-100" height="300px" src="assets/images/title_background.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption page-title text-left">
            <h2>Contact Us</h2>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="w-100 text-center">
            <h6 class="section-header">Connect with us</h6>
            <h3 class="featurette-heading">Our Contacts</h3>
        </div>
        <br />
        <br />
        <div class="row w-100 mt-20">
            <div class="col-lg-4">
                <i style="color:#ff9500; font-size:xx-large" class="fa fa-map-marker-alt"></i><br />
                <strong>Pune Office: </strong>
                <br>Survey No 1570
                <br>Chikhali MIDC, Pune 410501
                <br>
                <br>
                <strong>Akola Office: </strong>
                <br>Near Shri Datta Mandir
                <br>Palhade Layout
                <br>Mothi Umri, Akola 444001
                <br>
            </div>
            <div class="col-lg-4">
                <i style="color:#ff9500; font-size:xx-large" class="fa fa-phone-volume"></i>
                <br />
                <strong>Call Us</strong>
                <br>Mobile: +91 8507501515,
                <br>+91 9850379918
            </div>
            <div class="col-lg-4">
                <i style="color:#ff9500; font-size:xx-large" class="fa fa-envelope"></i><br />
                <strong>Email Us</strong>
                <br><a href="mailto:info@grandsunsolar.com">info@grandsunsolar.com</a>
            </div>
        </div>
    </div>

    <div class="row mt-20">
        <div class="col-lg-6">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3731.8403163651924!2d77.02458731492746!3d20.71670798616824!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0!2zMjDCsDQzJzAwLjIiTiA3N8KwMDEnMzYuNCJF!5e0!3m2!1sen!2sin!4v1577294727372!5m2!1sen!2sin"
                width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
        </div>
        <div class="col-lg-6">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLSfNRrAnmY0sVnmLmmEXaXWmQY-VVsr6i0euYeDW6GvFMJdaog/viewform?embedded=true"
                width="100%" height="500" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
        </div>
    </div>
</div>