<div class="page-header">
    <img class="d-block w-100" height="300px" src="assets/images/title_background.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption page-title text-left">
            <h2>Solar Water Pump</h2>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="w-100 text-center">
            <h3 class="featurette-heading underline"></h3>
        </div>
        <div class="col-md-6 order-md-1">
            <p class="lead">
                Solar water pumps can supply water to locations which are beyond the reach of power lines. Commonly,
                such places rely on human or animal power or on diesel engines for their water supply or where the
                frequent power cuts are observed and the power when available is not pure and enough (Indian
                Conditions in Rural). Solar water pumps can replace the current pump systems and result in both
                socioeconomic benefits as well as climate related benefits as well as the existing pump can also be
                driven. The
                water supplied by the solar water pump can be used to irrigate crops, water livestock or provide potable
                drinking, cooking and sanitation water.
            </p>
        </div>
        <div class="col-md-6 order-md-2">
            <img width="100%" height="350px" src="assets/images/solar_water_pump.jpg" alt="First slide">
        </div>

    </div>
    <div class="row lead">
        <p> A solar water pump system is essentially an electrical pump system in which the electricity is provided by
            one or several Photo Voltaic (PV) panels. A typical solar powered pumping system consists of a solar
            panel array that powers an electric motor, which in turn powers a bore or surface pump. The water is
            often pumped from the ground or stream into a storage tank that provides a gravity feed, so energy
            storage is not needed for these systems.</p>
        <p>
            Our solar powered water pumps are a low cost solution enabling residents in these areas to spend more
            time increasing their income by growing crops etc., rather than ferrying water from far off distances.
            There are two types of water pumps, Submersible Water Pumps and Surface Water Pumps. We have both types
            of pumps with varying capacity as per your need.
        </p>
        <br />
        <div>
            <b>Benefits of Solar Water Pumps</b>
            <ul>
                <li>Simple and highly reliable</li>
                <li>Reduces Electricity Bills</li>
                <li>Contribute to the “Green Economy”</li>
                <li>Extremely low operating and maintenance cost</li>
                <li>Renewable Energy Source</li>
                <li>Can be installed quickly</li>
                <li>Eco-friendly</li>
            </ul>
        </div>
    </div>
</div>