<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
  <div class="container">
    <a class="navbar-brand" href="">
      <img class="companyLogo" src="assets/images/logo-grandsun.png" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
      aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/"  >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Solutions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/rooftop" routerLinkActive="active">Rooftop Solar</a>
            <a class="dropdown-item" routerLink="/waterpump" routerLinkActive="active">Water Pumps</a>
            <a class="dropdown-item" routerLink="/waterheater" routerLinkActive="active">Solar Water Heater</a>
            <a class="dropdown-item" routerLink="/cctv" routerLinkActive="active">Solar CCTV Camera</a>
            <!-- <a class="dropdown-item" routerLink="/othersoln" routerLinkActive="active">Other solutions</a> -->
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="./gallery" routerLinkActive="active">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div id="top"></div>
<router-outlet (activate)="onActivate($event)"></router-outlet>

<footer>
  <div class="alert-footer">
    <!-- <div class="container">
      Get connected with us on social networks!
      <span class="socialIcons">
        <a href="https://www.facebook.com/" target="_blank"><i style="color:#ff9500" class="fab fa-facebook-f"></i></a>
        <a href="https://www.twitter.com/" target="_blank"><i style="color:#ff9500" class="fab fa-twitter"></i></a>
        <a href="https://www.instagram.com/" target="_blank"><i style="color:#ff9500" class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/" target="_blank"><i style="color:#ff9500" class="fab fa-linkedin-in"></i></a>
      </span>
    </div> -->
  </div>
  <div class="container mt-20">
    <div class="row content">
      <div class="col-lg-6">
        <p>
          <img class="companyLogo" src="assets/images/logo-grandsun.png" />
          <br />
          <br />GrandSun Solar and Services is a professionally managed renewable energy company providing 
          solar energy solutions in India. Our company provides homeowners, business owners, Industries, 
          Government buildings, schools, hospitals and other establishments with cost effective and 
          affordable clean energy.
        </p>
      </div>
      <div class="col-lg-6">
        <div class="row">
          <div class="col-md-6">
            <p> <strong>Pune Office: </strong>
              <br>Survey No 1570
              <br>Chikhali MIDC, Pune 410501
              <br>
              <br>
              <strong>Akola Office: </strong>
              <br>Near Shri Datta Mandir
              <br>Palhade Layout
              <br>Mothi Umri, Akola 444001
              <br>
              <br><strong>Contacts</strong>
              <br>Email: info@grandsunsolar.com
              <br>Mobile: +91 8507501515, 
              <br>+91 9850379918
            </p>
          </div>
          <div class="col-md-6">
            <p>
              <strong>Links</strong>
              <br><a class="text-dark" routerLink="/">Home</a>
              <br><a class="text-dark" routerLink="/aboutus">About Us</a>
              <br><a class="text-dark" routerLink="/rooftop">Solar Rooftop Solution</a>
              <br><a class="text-dark" routerLink="/waterheater">Solar Water Heater</a>
              <br><a class="text-dark" routerLink="/waterpump">Solar Water Pump</a>
              <br><a class="text-dark" routerLink="/cctv">Solar CCTV Cameras</a>
              <br><a class="text-dark" routerLink="/contactus">Contact Us</a>
              <br><a class="text-dark" routerLink="/gallery">Gallery</a>
              <br>
              <br><strong>Feedback</strong>
              <br>Please send us your ideas, bug reports, suggestions! Any feedback would be appreciated.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="float-right backTop hide"><a (click)="gotoTop()"><i style="color:#ff9500" class="fa fa-arrow-circle-up"></i></a></p>
  <p class="alert-footer text-center">&copy;Copyright 2019 GrandSun Pvt Ltd     
     <!--&middot; <a href="#">Privacy</a> &middot;
    <a href="#">Terms</a></p> -->
</footer>
</div>