<div class="page-header">
    <img class="d-block w-100" height="300px" src="assets/images/title_background.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption page-title text-left">
            <h2>Other solutions</h2>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="w-100 text-center">
            <h3 class="featurette-heading underline">Who are WE?</h3>
        </div>
        <div class="col-md-5 order-md-1">
            <p class="lead">
                We are the group of people who are on mission to save our Earth. We have been destroying the forests for whatever reasons for many years.
                We are pioneers in the field of Energy Conservation.
                We believe we can make a difference to this world, to this very earth on which we live.
            </p>
            <a class="btn btn-lg btn-primary" href="./aboutus.html" role="button">Read More &raquo;</a>
        </div>
        <div class="col-md-7 order-md-2">
            <img width="100%" height="400px" src="assets/img/solar2.jpg" alt="First slide">
        </div>

    </div>
    <hr class="featurette-divider">


</div>