<div class="page-header">
    <img class="d-block w-100" height="300px" src="assets/images/title_background.jpg" alt="First slide">
    <div class="container">
        <div class="carousel-caption page-title text-left">
            <h2>Solar Water Heater</h2>
        </div>
    </div>
</div>
<div class="container marketing">
    <div class="row">
        <div class="w-100 text-center">
            <h3 class="featurette-heading underline"></h3>
        </div>
        <div class="col-md-6 order-md-1">
            <p class="lead">
                A solar water heater is a system that utilizes solar energy (or the energy from sunlight) to
                heat water. It has a system that is installed on a terrace or open space where it can get
                sunlight and the energy from the sun is then used to heat water and store it in an insulated
                tank. The system is not connected to electricity supply and thus does not have an on-off
                switch, but it uses the sunlight throughout the day to heat the water and store it in the
                storage tank. Most of the solar water heater on a sunny day can provide heater water at about
                68° ±5° C temperature. Water from the storage tank can then be used for any application as desired.
            </p>
        </div>
        <div class="col-md-6 order-md-2">
            <img width="100%" height="350px" src="assets/images/water_heater.jpg" alt="First slide">
        </div>
    </div>
    <div class="row lead">
        There are 2 types of solar water heaters.
        <ul>
            <li>
                <b>FPC (Flat Plate Collectors) system:</b> Flat Plate Collector Systems are metallic systems.
                They contain an insulated metallic box covered with a toughened glass. The metallic box has a
                layer of a copper sheet with black coating which is good for absorbing heat. The metallic box
                contains copper tubes arranged vertically and connected at the top and bottom by two horizontal
                copper pipes called headers. The cold water enters the collector from the bottom pipe and rises
                up into the vertical pipes. It gets heated up in the vertical pipes. As it gets heated the water
                becomes lighter and it rises up and gets collected in the storage tank via the top horizontal pipe.
            </li>
            <li>
                <b> ETC (Evacuated Tube Collectors) system:</b> Evacuated Tube Collector systems are made of Glass.
                It has vertical tubes that are made out of two co-axial glass tubes. The air between the two
                coaxial tubes is removed to create a vacuum which improves insulation. Additionally, the surface
                of the inner tube is coated to provide better heat absorption and insulation. Coldwater is filled
                up in these glass tubes and it gets heated up due to the sunlight. Hot water is lighter than cold
                water, and so it rises up and gets collected in the storage tank from where it is available for use.
            </li>
        </ul>
        <br />
        <div>
            <b>Benefits of Solar Water Pumps</b>
            <ul>
                <li>Simple and highly reliable</li>
                <li>Reduces Electricity Bills</li>
                <li>Contribute to the “Green Economy”</li>
                <li>Extremely low operating and maintenance cost</li>
                <li>Uses Renewable Energy Source</li>
                <li>Can be installed quickly</li>
            </ul>
        </div>
    </div>
</div>